{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row"> 
        {% for emp in employee  %}  
        <div class="col-md-3 mr-auto">
            <div class="card mb-3">
                <div class="card" style="width: 18rem; height: 35rem">
                    <!-- {% if emp.image %} -->
                    <img class="card-img-top" src= "{{emp.image.url}}" alt="Card image cap" style="height:15rem; width:18rem">
                    <!-- {% else %}
                    <img class="card-img-top" src= "{% static 'uploads/images/default_human.jpg' %}" alt="Card image cap" style="height:50px; width:60px">
                    {% endif %} -->
                    <div class="card-body">
                      <h5 class="card-title">{{emp.name}}</h5>
                      <p class="card-text">Address: {{emp.address}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Email: {{emp.email}}</li>
                      <li class="list-group-item">Gender: {{emp.gender}}</li>
                      <li class="list-group-item">Age: {{emp.age}}</li>
                    </ul>
                    <div class="card-body">
                      
                      {% if user.is_authenticated %}
                          <a href="{% url 'person:update_profile' emp.id %}" class="btn btn-primary btn-sm card-link">Update</a>
                          <a href="{% url 'person:delete_profile' emp.id %}" class="btn btn-warning btn-sm card-link">Delete</a>
                          
                      {% else %}
                        <a href="{% url 'registration:register_user'%}" class="btn btn-primary btn-sm card-link">Details</a>

                      {% endif %}
                        
                      
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




  <!-- <div class="container">
    <div class="row">
        
    {% for i in employee  %}
            
      <div class="col-md-3">
        <div class="card mb-3">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div> -->
  

{% endblock %}
